@CHARSET "UTF-8";
html {overflow-y: scroll;}
body {
	background-color: #FFF;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	background-image: url("../images/3scwsuz.png");
	margin-top: 21px;
}

a {
	text-decoration: none;
	padding: 2px;
	color: #336;
}

a:hover {
	padding: 2px;
	background-color: #EEF;
}
.separator {
	border-top: 1px solid #AAA;
	padding-top: 2px;	
}

.close_btn {
	float: right;
	width: 16px;
	height: 16px;
	background-image: url('../images/btn_close.png');
}

h1 {
	font-size: 16px;
	color: #E09400;
}

h2 {
	font-size: 15px;
	color: #E0B600;
}

h3 {
	font-size: 14px;
	color: #00B600;
}

h4 {
	font-size: 14px;
	color: #969696;
}

input, textarea {
	border-radius: 3px;
	border: 1px solid #ABA;
}

ul.msgs {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.msgs li {
	padding-left: 1em;
	text-indent: -.7em;
}

ul.msgs li.user_offline:before {
	content: "• ";
	color: red; /* or whatever color you prefer */
}

ul.msgs li.user_online:before {
	content: "• ";
	color: green; /* or whatever color you prefer */
}

.userProfile {
	border:1px solid #EEE;
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	padding: 6px;
	margin: 12px;
	float: left;
} 

.on_line {
	background-color: #AAFCAA;
}

.off_line {
	background-color: #EEEEEE;
}

.clear {
	clear: both;
}

.float_left {
	float: left
}

.float_right {
	float: right
}

#new_post_ta {
	width: 750px;
	border: thin dashed #CCC;
}

.msg_add_input {
	width: 120px;
}

#mainDiv {
	clear: left;
	display: block;
	border: thin solid #fee;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	min-height: 500px;
	padding: 10px;
	
	background: #999; /* for non-css3 browsers */

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#FFFFFF'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#FFFFFF)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #EEEEEE,  #FFFFFF); /* for firefox 3.6+ */ 

	border:1px solid;
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	
	
}

#navlist {
	padding: 0 1px 1px;
	margin-left: 0;
	font: bold 12px Verdana, sans-serif;
}

#navlist li {
	list-style: none;
	margin: 0;
	border-top: 1px solid gray;
	display: inline;
}

#navlist li a {
	padding: 0.25em 0.5em 0.25em 0.75em;
	border-left: 1em solid #AAB;
	background: #CCD;
	text-decoration: none;
}

#navlist li a:link {
	color: #448;
}

#navlist li a:visited {
	color: #667;
}

#navlist li a:hover {
	border-color: #FE3;
	color: #FFF;
	background: #332;
}

#navlist li.active a {
	border-color: #FE3;
	color: #FFF;
	background: #33A;
}

#navlist li.active a:hover {
	border-color: #FE3;
	color: #FFF;
	background: #33C;
}

#loading {
	float: right;
}

#msgList {
	cursor: auto;
}

#msgList thead tr th {
	border-bottom: thin solid #DDD;
}

#msgList {
	border: thin solid #DDD;
	font-size: 12px;
}

#msgList tbody tr:nth-child(even) {
	background: #EEE;
}

#msgList tbody tr:nth-child(odd) {
	background: #FFF;
}

#msgList tbody tr:hover {
	background: #DDD;
}

.mooTree_text {
	font-size: 11px;
}

#mytree {
	overflow: auto;
	overflow-y: auto;
	overflow-y: auto;
	height: 400px;
}

.prof_label {
	text-align: right;
}

.prof_input {
	text-align: left;
}

#anaotmy_annotation input[name='author'] {
	width: 60px;
}

#anaotmy_annotation input[name='date'] {
	width: 60px;
}

#anaotmy_annotation input[name='pattern'] {
	width: 60px;
}

#anaotmy_annotation input[name='gene'] {
	width: 60px;
}

#anaotmy_annotation div.annRow:FIRST-CHILD {	
	border-bottom: thin solid #EEE;
	width: 650px;
	height: 21px;
	font-weight: bold;
	margin-bottom: 2px;
}

#anaotmy_annotation div.annRowExpanded {
	cursor: default;
	/*background-color: red;
	border: thin solid red;*/
	width: 650px;
	/*height: 21px;*/
	height: 42px;
}

#anaotmy_annotation div.annRow {
	cursor: default;
	/*background-color: red;
	border: thin solid red;*/
	width: 650px;
	height: 21px;
}


#anaotmy_annotation div.entry_detail {
	float: left;
	width: 650px;
	height: 18px;
	color: #444;
	padding-left: 30px;
	margin-top: 1px;
	margin-bottom: 1px;
	paddint-top: 2px;
	background-color: #EEEEEE; 
}


#anaotmy_annotation div.entry_detail_hidden {
	width: 650px;
	height: 21px;
	color: #6E6;
	display: none;
	visibility: collapse;
}

#anaotmy_annotation div.modified  {
	float: left;
	width: 40px;
	padding: 0px;
	height: 16px;
	vertical-align: middle;
}

span.entry_count {
	font-weight: bold;
	color: darkgreen;
}

#anaotmy_annotation div.expLvlSquare  {
	float: left;
	width: 6px;
}
#anaotmy_annotation div.name  {
	float: left;
	width: 110px;
}
#anaotmy_annotation div.date  {
	float: left;
	width: 60px;
}
#anaotmy_annotation div.expLvl  {
	float: left;
	width: 60px;
}
#anaotmy_annotation div.pattern  {
	float: left;
	width: 90px;
}
#anaotmy_annotation div.gene  {
	float: left;
	width: 80px;
}
#anaotmy_annotation div.structure  {
	float: left;
	width: 100px;
}

#anaotmy_annotation div.actions  {
	float: left;
	width: 70px;
	text-align: right;
}

.not_detected {
	background-color: #FFF;
	color: #666;
}

.possible {
	background-color: #BDFFEA;
	color: #666;
}

.weak {
	background-color: #F5F7C4;
	color: #666;
}

.moderate {
	background-color: #FFF7B7;
	color: #666;
}

.strong {
	background-color: #FFA8A8;
	color: #666;
}

#anaotmy_annotationHeader th {
	border-bottom: 1px solid #EEE;
	text-align: left;
}

#exLevelsMenu a#cbBtn {
	color: red;
}

#exLevelsMenu div#cbList {
	border: thin solid #CCC;
	background-color: #FFE;
	padding: 2px;
	padding-right: 15px;
	position: absolute;
}

.visible {
	visibility: visible;
	display: block;
}

.hidden {
	display: none;
	visibility: collapse;
}

#dMessageList {
	margin-top: 10px;
}

#dThreadList {
	margin-top: 10px;
}


#dThreadList div.dMessage {
	padding: 6px;
	margin: 6px;
	cursor: auto;
	border: 1px solid #DDDDDD;	
	border-radius:5px; 
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
}


#dThreadList div.no_new {
	border: 1px solid #DDDDDD;
}

#dThreadList div.has_new {
	border: 1px solid #FFAAAA;
}

#dMessageList div.dMessage {
	float: right;
	width: 615px;	
	padding: 6px;
	margin-left: 12px;
	margin: 6px;
	border: 1px solid #DDDDDD;
	background-color: #EEEEEE;
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	
}
#dMessageList div.dMessageMe {
	width: 615px;
	float: left;
	padding: 6px;
	margin: 6px;
	border: 1px solid #DDDDFF;
	background-color: #DDDDDD;
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	
}

div.dMessage a.is_online {
	color: green;
}

#dMessageList div.dMessage:hover {
	border: 1px solid #eee;
	padding: 6px;
	margin: 6px;
	border: 1px solid #AAE;
}

#dThreadList div.dMessage:hover {
	border: 1px solid #eee;
	padding: 6px;
	margin: 6px;
	cursor: pointer;
	border: 1px solid #AAE;
	background-color: #EEEEEE;	
}

div.dMessageDate {
	width: 150px;
	float: right;
	color: #434;
	font-weight: bold;
	padding-bottom: 6px;
}

div.dMessageDB {
	width: 150px;
	float: left;
	color: #434;
	font-weight: bold;
}

div.dMessageFrom {
	width: 450px;
	float: left;
	color: #434;
	font-weight: bold;
}

/* profile */
div.userProfile {
	margin-left: 12px;
}

div.userProfile img {
	margin-right: 12px;
}

.profName {
	color: #00A;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 6px;
}

.profEmail {
	color: #666;
	font-weight: bold;
	padding-bottom: 6px;
}


.profInstitution {
	color: #888;
	font-weight: bold;
	padding-bottom: 6px;
}

.profPosition {
	color: #888;
	padding-bottom: 6px;
}

.profFrom {
	color: #AAA;
	padding-bottom: 6px;
}

.profLives {
	color: #AAA;
	padding-bottom: 6px;
}

/* profile connections */

div#profileConnections {
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	column-count: 3;
	column-gap: 10px;
}

div.connEntry {
	width: 220px;
	padding-left: 20px;
}

div#profileConnections {
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	column-count: 3;
	column-gap: 10px;
	
}

div.connEntry {
	width: 200px;
	height: 16px;
}

div#profileConnections .connOnline {
	background-image: url("../images/green.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

div#profileConnections .connOffline {
	background-image: url("../images/red.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
}


/* experimental detail styling */
div.exDetailBox {
	width:730px;
	heigth:150px;
}

div.exDetailBox textarea {
	width:730px;
	heigth:130px;
}


/* context menu */
#contextmenu	{ border:1px solid #999; padding:0; background:#eee; width:260px; list-style-type:none; display:none; }
#contextmenu .separator	{ border-top:1px solid #999; }
#contextmenu li	{ margin:0; padding:0;
	background-position:8px 8px; background-repeat:no-repeat;
	background-image: url("../images/list_item.gif");
}

#contextmenu li span.pattern { display:block; padding:5px 10px 5px 35px; width:230px; font-size:12px; text-decoration:none; font-family:tahoma,arial,sans-serif; color:#000; 
	background-position:8px 8px; background-repeat:no-repeat;
	background-image: url("../images/list_item.gif");
}

/*
#contextmenu li a:hover	{ background-color:#ddd; }
#contextmenu li a.disabled { color:#ccc; font-style:italic; }
#contextmenu li a.disabled:hover { background-color:#eee; }
*/
#contextmenu div div {
	width: 65px;
	float: left;
	cursor: pointer; 
}

#contextmenu div div:hover {
	width: 65px;
	float: left; 
	background-color: white;
	cursor: pointer;
}

#contextmenu div div a {
	width: 65px;
}
#contextmenu li a:hover {
	width: 65px;
	background-color: transparent;
}

#tipHolder {
	position: fixed;
	right: 15px;
	top: 15px; 	
}
#tipHolder div.tip {
	margin-top: 6px;
	opacity: 0.6;
}

/* tips */

.tip {
	color: #fff;
	width: 139px;
	z-index: 13000;
}
 
.tip-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #9FD4FF;
	padding: 8px 8px 4px;
	background: url("../images/bubble.png") top left;
}
 
.tip-text {
	font-size: 11px;
	color: #EEE;
	padding: 4px 8px 8px;
	background: url("../images/bubble.png") bottom right;
}

span.notification_count_none {
	color: #EEEEEE;
	padding: 6px;
	background-color: #000066;
	border:1px solid #000066;
	margin-left: 6px;
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
}

span.notification_count {
	color: #EEEEEE;
	padding: 6px;
	background-color: #660000;
	border:1px solid #660000;
	margin-left: 6px;
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
}

